.card:hover .card-body{
    opacity: 1;
    box-shadow: 3px 3px 10px #5DADE2;
}
.card-body {
    opacity: 0;
    background: rgba(0, 0, 0, .7);
}
#loader-container {
    margin-top: 30vh;
}
.card-title {
    font-family: 'Lobster', cursive;
    font-size: 28px;
}
.card-text {
    font-size: 12px;
}
canvas {
    background: rgba(0, 0, 0, 0.8);
}
canvas#exampleModal {
    background: #ffff;
}
.list-group .list-group-item{
    background: rgba(0, 0, 0, 0);
}
#fight {
    font-family: 'Lobster', cursive;
    font-size: 20px;
}
.ready-button {
    animation: blink 1s linear infinite;
}
@keyframes blink{
    0%{
        opacity: 0;
        margin: 0;
    }
    50%{
        opacity: .5;
        margin: 1px solid #2e2e2e;
    }
    100%{
        opacity: 1;
        margin: 2px solid #2e2e2e;
    }
}