<!-- Nombres -->
<nav class="navbar sticky-top navbar-light bg-light">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">Sticky top</a> -->
        <button type="button" class="btn btn-outline-dark" id="pl1btn" onclick="changeStatePlayer('pl1')">
            <p class="m-3" id="pl1"></p>
        </button>
        <a routerLink="/battle" class="btn btn-danger rounded-pill"
            id="fightButton">
            <p class="m-3" id="fight">Pelear!!</p>
        </a>
        <button type="button" class="btn btn-outline-dark" id="pl2btn" onclick="changeStatePlayer('pl2')">
            <p class="m-3" id="pl2"></p>
        </button>
    </div>
</nav>

<div class="container mt-3">
    <div class="row">
        <div class="col-1">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Grafica
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Descripcionde grafica</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <canvas id="explanation" width="200" height="200"></canvas>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-11">
            <nav aria-label="Pages">
                <ul class="pagination pagination-lg" id="pages"></ul>
            </nav>
        </div>
    </div>
</div>

<!-- Loader -->
<div class="container" id="loader-container">
    <div class="row">
        <div class="col text-center">
            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center mt-2">
            <p>Loading...</p>
        </div>
    </div>
</div>

<!-- Tarjetas -->
<div class="container mt-3 mb-3" id="cards-container">
    <div class="row row-cols-1 row-cols-md-4 row-cols-xs-2 g-4" id="contenedor">
        <div class="col"*ngFor="let fighter of fighter">
            <div class="card h-100">
                    <img [src]="fighter.images.xs" class="card-img-top hwImage" [alt]="fighter.name">
                <div class='card-body card-img-overlay text-white text-center'>
                    <h5 class='card-title text-center'>{{ fighter.name }}</h5>
                    <p class='card-text'>
                        <canvas id="${heroe.id}" width="200" height="200"></canvas>
                    </p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <span class="badge bg-primary">HP: {{ fighter.powerstats.durability + 100 }}</span>
                            <span class="badge bg-success">Ataque: {{ fighter.powerstats.durability + 100 }}</span>
                            <span class="badge bg-danger">Especial: {{ fighter.powerstats.durability + 100 }}</span>
                        </li>
                    </ul>
                    <button class='btn btn-primary' [id]="fighter.id">Seleccionar</button>
                </div>
            </div>
        </div>
    </div>
</div>