.h1 {
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
  color: #B05AE4;
}

.image-container {
  height: 350px;
}

.options-button {
  height: 100px;
  width: 100px;
}

.fighterName {
  font-family: 'Lobster', cursive;
}
.fightState {
  text-decoration-line: line-through;
  color: red;
}
.loader {
  margin-top: 25vh;
}
.active-user {
  background-color: #A9CCE3;
  border-radius:  40px 40px 0 0;
}