<div class="container">

    <div class="row">
        <div class="col">
        <p class="h1 text-center mt-3">VS</p>
        </div>
    </div>

    <div class="row">
        <div class="col" *ngIf="winner.state" id="succesMessage">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Juego terminado</h4>
                <p>El ganador es {{ winner.name }} despues de {{ winner.attacks }} movimientos</p>
                <hr>
                <div class="text-center">
                    <a routerLink="/" type="button" class="btn btn-outline-success mb-0">Volver a inicio</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 mb-2" id="fighterOne" *ngIf="cardsSelcted.dataCardOne">

            <div class="text-center loader" *ngIf="loadingData">
                <div class="spinner-grow text-secondary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

            <div *ngIf="!loadingData">
                <div class="row">
                    <div class="col text-center mb-2 fighterName" [ngClass]="{'fightState': this.cardsSelcted.dataCardOne.damage <= 0}">{{ playerOne }} with {{ cardsSelcted.dataCardOne.name }}</div>
                </div>
                <div class="row mb-1">
                    <div class="col">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{'width': player1LifeView}" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100">HP: {{ cardsSelcted.dataCardOne.damage.toFixed(2) }}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div>
                            <div>
                                <div style="display: block">
                                <canvas baseChart
                                    [datasets]="fight1ChartData"
                                    [labels]="barChartLabels"
                                    [options]="barChartOptions"
                                    [plugins]="barChartPlugins"
                                    [legend]="barChartLegend"
                                    [chartType]="barChartType">
                                </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-white" id="fighter1">
                            <img [src]="cardsSelcted.dataCardOne.images.md" class="card-img shadow image-container" [alt]="cardsSelcted.dataCardOne.name">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 mb-2" id="fighterTwo" *ngIf="cardsSelcted.dataCardTwo">

            <div class="text-center loader" *ngIf="loadingData">
                <div class="spinner-grow text-secondary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

            <div *ngIf="!loadingData">
                <div class="row">
                    <div class="col text-center mb-2 fighterName" [ngClass]="{'fightState': this.cardsSelcted.dataCardTwo.damage <= 0}">{{ playerTwo }} with {{ cardsSelcted.dataCardTwo.name }}</div>
                </div>
                <div class="row mb-1">
                    <div class="col">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{'width': player2LifeView}" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100">HP: {{ cardsSelcted.dataCardTwo.damage.toFixed(2) }}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="card text-white" id="fighter1">
                            <img [src]="cardsSelcted.dataCardTwo.images.md" class="card-img shadow image-container" [alt]="cardsSelcted.dataCardTwo.name">
                        </div>
                    </div>
                    <div class="col-6">
                        <div>
                            <div>
                                <div style="display: block">
                                <canvas baseChart
                                    [datasets]="fight2ChartData"
                                    [labels]="barChartLabels"
                                    [options]="barChartOptions"
                                    [plugins]="barChartPlugins"
                                    [legend]="barChartLegend"
                                    [chartType]="barChartType">
                                </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-bottom">
        <div class="row text-center" id="attack-buttos">
            <!-- Peleador 1 -->
            <div class="col-6" [ngClass]="{'active-user': fighterOneActive}">
                <button type="button" 
                    class="btn btn-success btn-lg rounded-pill m-3" 
                    [ngClass]="{'disabled': !ableSpecialAbilitiesPl1}"
                    (click)="fighterRecovery('pl1', setRecover(cardsSelcted.dataCardOne.powerstats))">
                    Recuperar
                </button>
                <button type="button" 
                    class="btn btn-danger btn-lg rounded-pill m-3" 
                    (click)="figherPunch('pl1', setSimpleAttack(cardsSelcted.dataCardOne.powerstats))">
                    Ataque
                </button>
                <button type="button" 
                    class="btn btn-dark btn-lg rounded-pill m-3" 
                    [ngClass]="{'disabled': !ableSpecialAbilitiesPl1}"
                    (click)="figherPunch('pl1', setSpecialAttack(cardsSelcted.dataCardOne.powerstats))">
                    Especial
                </button>
            </div>
            <!-- Peleador 2 -->
            <div class="col-6" [ngClass]="{'active-user': fighterTwoActive}">
                <button type="button" 
                    class="btn btn-dark btn-lg rounded-pill m-3"
                    [ngClass]="{'disabled': !ableSpecialAbilitiesPl2}"
                    (click)="figherPunch('pl2', setSpecialAttack(cardsSelcted.dataCardTwo.powerstats))">
                    Especial
                </button>
                <button type="button" 
                    class="btn btn-danger btn-lg rounded-pill m-3" 
                    (click)="figherPunch('pl2', setSimpleAttack(cardsSelcted.dataCardTwo.powerstats))">
                    Ataque
                </button>
                <button type="button" 
                    class="btn btn-success btn-lg rounded-pill m-3"
                    [ngClass]="{'disabled': !ableSpecialAbilitiesPl2}"
                    (click)="fighterRecovery('pl2', setRecover(cardsSelcted.dataCardTwo.powerstats))">
                    Recuperar
                </button>
            </div>
        </div>
    </div>

</div>
