.init-container {
  background: #D1F2EB ;
  height: 100vh;
}

h1 {
  font-family: 'Lobster', cursive;
}

.access-button {
  font-family: 'Lobster', cursive;
  font-size: 30px;
}

.inputs-margin {
  padding-top: 100px;
}
.form-control {
  box-shadow: 1px 1px 3px #5DADE2;
  font-family: 'Lobster', cursive;
  border: 1px solid #5DADE2;
} 